<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424047017295-9fk4e7h3m4t76hsb6j7vsjlv2n7bppk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424047017295-9fk4e7h3m4t76hsb6j7vsjlv2n7bppk7</string>
	<key>API_KEY</key>
	<string>AIzaSyDK9gYBPWVkKDOA_3U_r40jE0fS-grVjVo</string>
	<key>GCM_SENDER_ID</key>
	<string>424047017295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bss</string>
	<key>PROJECT_ID</key>
	<string>bss-app-cf0c7</string>
	<key>STORAGE_BUCKET</key>
	<string>bss-app-cf0c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424047017295:ios:36310431a6bdf3c8e9993a</string>
</dict>
</plist>